/* Import main settings and variables */
@import url("base.css");

/* Right half */
.right-half {
  background-color: var(--background-right-color);
  padding: 32px 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
/* Input */
.form-container {
  width: 90%;
}
form {
  margin: 32px 0px;
  display: flex;
  justify-content: space-between;
}
form input,
form button {
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background: white;
}
form input {
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}
form button {
  color: var(--background-left-color);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0px 5px 5px 0px;
}
form button:hover {
  background: var(--background-left-color);
  color: white;
}
/* Filter */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 0px 0px 0px 16px;
  border-radius: 5px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  color: white;
}
select {
  color: black;
  line-height: 24px;
  width: 10rem;
  cursor: pointer;
  padding: 12px;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: var(--background-left-color);
  top: 0;
  right: 0;
  padding: 12px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background: white;
  color: var(--background-left-color);
}
.filter-todo {
  font: inherit;
}

/* Todo List */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.todo-list {
  width: 100%;
  list-style: none;
}
.todo {
  margin: 0.5rem 0;
  background: white;
  color: #1e2448;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: var(--background-left-color);
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}
.trash-btn {
  border-radius: 0px 5px 5px 0px;
}
.trash-btn:hover,
.complete-btn:hover {
  cursor: pointer;
}
.complete-btn {
  background: lightgreen;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
